
@{
    ViewBag.Title = "О разработчике";
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br />
<br/>
<br />
<br />
<div style="font-size: 40px;">
    <center>

        <blockquote>
            Всем привет!
            <br/>
            Данный сайт находится пока в состояния разработки!
            Приношу свои извинения!
            <br/>
            <br/>
            Все свои предложения и пожелания Вы можете присылать мне на e-mail <a href="mailto:#">mik.borischewskij@gmail.com</a>



        </blockquote>

        <blockquote class="blockquote-reverse">
            С уважением, Михаил Боричевский
        </blockquote>
    </center>

</div>



