
@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<link href="~/Content/404Mobile.css" rel="stylesheet" />
 <link href="~/Content/style404.css" rel="stylesheet" />
        <div id="content">
            <div id="title">
                <p class="rif">Ошибка<br />404</p>
                <p class="eb">(страница не найдена)</p>
            </div>
        </div>

