
@{
    ViewBag.Title = "404";
   //Layout = null;
}

<link href="~/Content/Error404.css" rel="stylesheet" />
 <link href="~/Content/style404.css" rel="stylesheet" />
        <div id="content">
            <div id="title">
                <p class="rif">Ошибка<br />404</p>
                <p class="eb">(страница не найдена)</p>
            </div>

            <div id="programmer">

                <div class="body-animation">
                    <div class="head">
                        <div class="left-eye"></div>
                        <div class="right-eye"></div>
                    </div>
                    <div class="righthand"></div>
                    <div class="lefthand"></div>
                    <div class="body"></div>
                </div>

                <div class="notebook"></div>
                <div class="rightshoe"></div>
                <div class="leftshoe"></div>
                <div class="legs"></div>
                <div class="chair"></div>
                <div class="chair-shadow"></div>
            </div>
        </div>

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/velocity.min.js"></script>

<script src="~/Scripts/error404.js"></script>
