
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}



<div class="jumbotron">
    <h1>Добро пожаловать</h1>
    <p class="lead">Вы находитесь на мабильной версии приложения,некоторые функции будут недоступны</p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
        <h2>Метод Гаусса</h2>
       <p>Метод Гаусса- классический метод решения системы линейных алгебраических уравнений (СЛАУ). </p>
        <p><a class="btn btn-primary" href="@Url.Action("Gaus", "Methods")" role="button">Подробнее &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Метод простой итерации</h2>
        <p>Один из простейших численных методов  решения уравнений . Метод основан на принципе сжимающего отображения , который применительно к численным методам в общем виде также может называться методом простой итерации или методом последовательных приближений</p>
        <p><a class="btn btn-primary" href="@Url.Action("SimpleIteration", "Methods")" role="button">Подробнее &raquo;</a></p>
    </div>

    <div class=" col-lg-4">
        <h2>Метод Ньютона</h2>
        <p>Метод Ньютона — это итерационный численный метод нахождения корня (нуля) заданной функции.Поиск решения осуществляется путём построения последовательных приближений и основан на принципах простой итерации.</p>
        <p><a href="@Url.Action("Newton", "Methods")" class="btn btn-primary" role="button">Подробнее &raquo;</a></p>
    </div><!--/.col-xs-6.col-lg-4-->
</div>
