
@{
    ViewBag.Title = "Калькулятор";
}


<center>

    <div class="container">
        <iframe width="590" height="390" src="http://ru.web2.0calc.com/widgets/horizontal/" scrolling="no" style="border: 1px solid # silver;"></iframe>
        <br />

    </div>


    <h3>Пример использования калькулятора</h3>



        <br />
        <kbd>2<sup>nd</sup></kbd> - смена режима
        <br />
        <kbd>const</kbd> - список общепринятых констант.
        <br />
        <kbd>ncr</kbd> - число сочетаний из <var>n</var> по <var>m</var>
        <br />
        <kbd>npr</kbd> - Число размещений из <var>n</var> элементов по <var>k</var>
        <br />
        <kbd>mod</kbd> - остаток от деления.
        <br />
        <kbd>int</kbd> - интеграл. Пример: <code>int(x^2)</code>
        <br />
        <kbd>diff</kbd> - производная. Пример: <code>diff(sin(x)^2)</code>
        <br />
        <kbd>lim</kbd> - предел. Пример: <code>lim((1+1/x)^x,x=infinity)</code>
        <br />
        <kbd>solve</kbd> - корни уравнения. Пример: <code>solve(x^3-2*x^2-1/2)</code>
    <br /><br /><br /><br /><br />
</center>

<style>
    body {
        background-image: url('../../Content/fon1.jpg');
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }
</style>