
@{
    ViewBag.Title = "MathCalc";
}


<center>
    <h1>Онлайн калькулятор Math</h1>
    <br />
    <div>
        <iframe width="590" height="390" src="http://ru.web2.0calc.com/widgets/horizontal/" scrolling="no" style="border: 1px solid # silver;"></iframe>
        <br />

    </div>
</center>
<blockquote>
    Онлайн-калькулятор Math можно использовать для проверки своего решения по многим математическим и экономическим дисциплинам. 
    <center>
        <h3>Пример использования калькулятора</h3>
    </center>
    <br/>
    <kbd>2<sup>nd</sup></kbd> - смена режима
    <br/>
    <kbd>const</kbd> - список общепринятых констант.
    <br/>
    <kbd>ncr</kbd> - число сочетаний из <var>n</var> по <var>m</var>
    <br/>
    <kbd>npr</kbd> - Число размещений из <var>n</var> элементов по <var>k</var>
    <br/>
    <kbd>mod</kbd> - остаток от деления.
    <br/>
    <kbd>int</kbd> - интеграл. Пример: <code>int(x^2)</code>
    <br/>
    <kbd>diff</kbd> - производная. Пример: <code>diff(sin(x)^2)</code>
    <br/>
    <kbd>lim</kbd> - предел. Пример: <code>lim((1+1/x)^x,x=infinity)</code>
    <br/>
    <kbd>solve</kbd> - корни уравнения. Пример: <code>solve(x^3-2*x^2-1/2)</code>
</blockquote>
