@model MathСalculator.WebUI.Models.PostListViewModel
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
@foreach (var post in Model.Post)
{

    <div class="span4">
        <div class="listPost">
            <h2>@post.Title</h2>
            <p id="preview">@post.Preview</p>
        </div>
        <p><a href="#" class="btn btn-primary">More info</a></p>
        <hr>
    </div>
}

